@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.iframeContainer {
  top: 50%;
  left: 50%;
  transform: translate(+32%);
  margin-top: 24px;
}

.learn-container {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1;
  overflow-x: hidden;
  transition: margin-left 0.3s ease;
}

.content.pushed {
  margin-left: 250px; /* Adjust according to your sidebar width */
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
  padding: 20px;
}

  .sidebar {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  width: 250px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  z-index: 1000;
}

.sidebar-opened {
  transform: translateX(250px); /* Adjust this value according to your sidebar width */
}

.sidebar.open {
  left: -250px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #6d6d6d;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.sidebar-menu li {
  margin-bottom: 10px;
}

.sidebar-menu li a {
  display: block;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar-menu li a:hover {
  background-color: #c0c0c0;
  color:black;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}  

